In [8]:
print("Happy Coding")
print("Hi EveryOne")

Happy Coding
Hi EveryOne

Cell :- single Rectangular Box in which you write code/text
    
Outline Color of a cell
Green =>  Type code / text(markdown)
Blue => CMD MODE (you can type code or text..)

How do you get into a cmd(blue Outline) mode?
By Pressing ESC

CMD mode can be used to:
    1) Delete a cell by going into cmd mode and pressing dd ( d twice)
    2) Converting the cell into markdown by going into cmd mode and pressing m.
    
How to get back from cmd mode to type / text mode?
by clicking the cell

How to Execute a cell?

1) Click on Run Button 
2) Shift + Enter  -> Execute the cell and insert a new cell if no new cell there then only it insert 
3) Ctrl + Enter -> it is just going to Execute the cell
4) Alt + Enter -> Execute the cell and insert a new cell

# Happy coding

## Happy coding

### Happy Coding

#### Happy Coding

This is used to write beautifull Notes.
I can insert links , text , bold text , images , and a lot of other things

# Print Hello Everone

In [15]:
print("Hello Everyone")
print("Hi EveryOne")
10
40
59
90

Hello Everyone
Hi EveryOne

90

# Variable naming

In [ ]:
abc = 10
_adf = 20
30bcs = 30
gd adsif = 40
_ = 50
hjk78 = 80
jha7090ahsidfh = 20
_700 = 40

### assigning different type of data to a variable

In [20]:
a = 10
a = 20
a = "abc"
a

'abc'

In [21]:
type(a)

str

In [22]:
a = "abc"
type(a)
a = 10 
type(a)

int

In [23]:
a = "abc"
print(type(a))
a = 10 
print(type(a))

<class 'str'>
<class 'int'>

In [24]:
a = 10 
b = 10
print(id(a))
print(id(b))

2923680983632
2923680983632

In [26]:
a = -5
b = -5
print(id(a))
print(id(b))

2923680983152
2923680983152

In [27]:
a = 256
b = 256
print(id(a))
print(id(b))

2923681180048
2923681180048

In [28]:
a = 257
b = 257
print(id(a))
print(id(b))

2923763286768
2923763287312

In [29]:
a = -6
b = -6
print(id(a))
print(id(b))

2923763286640
2923763286832

In [25]:
a = 1000
b = 1000
print(id(a))
print(id(b))

2923763286512
2923763286640

In [30]:
a = 4.0
b = 4.0
print(id(a))
print(id(b))

2923763287248
2923763287600

In [31]:
a = "hello"
b = "hello"
print(id(a))
print(id(b))

2923758345200
2923758345200

In [32]:
a = "hello Mehak"
b = "hello Mehak"
print(id(a))
print(id(b))

2923763182064
2923763182960

In [33]:
a = "hello_Mehak"
b = "hello_Mehak"
print(id(a))
print(id(b))

2923763181872
2923763181872

In [35]:
a = "hello_Mehak_how_are_you_all_fine_i_hope"
b = "hello_Mehak_how_are_you_all_fine_i_hope"
print(id(a))
print(id(b))

2923762724176
2923762724176

In [36]:
a = "hello_Mehak_how_are you_all_fine_i_hope"
b = "hello_Mehak_how_are you_all_fine_i_hope"
print(id(a))
print(id(b))

2923762661584
2923762724272

In [ ]:
Data Types:
    int 
    float
    bool
    str
    dict
    list
    tuple
    set
    None
    complex

In [ ]:
Mutable: modify
    list  - ["divya" , "omkar" , "Amit" , None , (31,462,"Amit") , {12,34,56} , {"Python":3 , "java":2}]
    set   - {1,234,45,6575,786,89} 
    dict  - {"Python":3 , "java":2}

In [ ]:
Immutable: we can not edit(update , add , delete , items)
    int  10 , 12 -6 , 3415
    float  4.5 , 4.0
    bool - True / False
    str - 'a' , 'abc' ,"abdsdv" , """This is also a string""" , "432" , "34.89" , "92473.9347@hjoaid!!!!!"
    None 
    complex  (3 + 6j)
    tuple - (234, 4352,"Omkar", "Divya")  ,  234, 4352,"Omkar", "Divya"

In [37]:
a = 234, 4352,"Omkar", "Divya"
type(a)

tuple

# Immutability

# `List`

In [40]:
a = ["divya" , "omkar" , "Amit" , None]

In [41]:
a[0]

'divya'

In [42]:
a[0] = "Shaikh"

In [43]:
a

['Shaikh', 'omkar', 'Amit', None]

## `tuple`

In [45]:
a =  (234, 4352,"Omkar", "Divya" , ["divya" , "omkar" , "Amit"] )
type(a)

tuple

In [39]:
a[1] = "hi"

TypeError: 'tuple' object does not support item assignment

In [46]:
a[4]

['divya', 'omkar', 'Amit']

In [47]:
a[4][0]

'divya'

In [48]:
a[4][2]

'Amit'

In [49]:
a[4][2] = "Avanit"

In [50]:
a

(234, 4352, 'Omkar', 'Divya', ['divya', 'omkar', 'Avanit'])

### `Identity Operator`

In [54]:
a = 10
b = 10
print(id(a))
print(id(b))
print(a is b)

2923680983632
2923680983632
True

In [ ]:
if both variable object at same memory location or address

In [55]:
a = 1000
b = 1000
print(id(a))
print(id(b))
print(a is b)

2923791191536
2923791190832
False

## `Equality Operator`

In [56]:
a = 1000
b = 1000
print(id(a))
print(id(b))
print(a == b)

2923791190800
2923791188592
True

In [57]:
a = [1,2,3]
b = [1,2,3]
print(a == b)

True

In [58]:
a = []
b = []
print(a == b)

True

How To take Input from User

In [59]:
a = input("Enter your Name:- ")
a

Enter your Name:- Anikesh

'Anikesh'

In [60]:
a = input()
a

56

'56'

In [61]:
type(a)

str

In [62]:
a = int(input())
type(a)

59

int

In [63]:
a = int(input())
type(a)

adf

ValueError: invalid literal for int() with base 10: 'adf'

In [66]:
a = input()
b = input()
print(a + b)

kushagra
Sharma
kushagraSharma

In [65]:
a = int(input())
b = int(input())
print(a + b)

25
25
50